BORDER_CODE_CRIMSON=
BORDER_CODE_EMERALD=
BORDER_CODE_ORANGE=
BORDER_CODE_SAPPHIRE=
BORDER_CODE_VIOLET=
OWNER_SECRET=
PAYMOB_API_KEY=
PAYMOB_HMAC_SECRET=
PAYMOB_IFRAME_ID=
PAYMOB_INTEGRATION_ID=
SESSION_SECRET=
SUPER_SECRET=
VODAFONE_CASH_NUMBER=